/* Write your CSS here */
.app-background {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 2em;
  border-radius: 1em;
}
